{% extends 'index.html' %}
{% load static %}

{% block content %}
    <link href="/static/css/font.css" rel="stylesheet">
    <link href="/static/css/item_added_button.css" rel="stylesheet">
    <section class="py-5 text-center container" style="margin-top: 50px">
        <div class="row py-lg-5">
            <div style="text-align: center; position: center; margin-top: 100px">
                    <strong style="font-size: 52px; color: darkred">Something went wrong</strong>
                </div>
                <section class="py-5 text-center container"
                         style="margin-top: 50px; background-size: cover;">
                    <div class="row py-lg-5">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <a href="{% url 'store:store' %}" class="cta" style="text-decoration: none">
                        <span class="hover-underline-animation add-button"
                              style="text-decoration: none; color: white"><strong
                                style="text-decoration: none; color: white; font-size: 50px">SHOP NOW </strong></span>
                            </a>
                        </div>
                    </div>
                </section>
        </div>
    </section>
{% endblock %}