{% extends 'index.html' %}
{% load static %}

{% block content %}
    <link href="/static/css/font.css" rel="stylesheet">
    <link href="/static/css/item_added_button.css" rel="stylesheet">
    <link href="/static/css/form.css" rel="stylesheet">
    <style>
        .form-group input:focus {
            border-color: darkred;
            outline: none;
        }
    </style>
    <div style="text-align: center; margin-top: 85px; margin-bottom: 70px">
        <div style="text-align: center;"><a href="{% url 'order_worldwide' %}" style="text-decoration: none; color: darkred"><strong
                style="font-size: 19px">FORM</strong></a><br><span style="color: darkred; font-size: 25px">&#8595;</span></div>
        <strong style="font-size: 50px; color: darkred">DELIVERY</strong><br>
        <span style="color: darkred; font-size: 25px">&#8595;</span>
        <div style="text-align: center;"><strong style="font-size: 26px; color: white">PAYMENT</strong></div>
        <form style="margin-top: 40px" method="post" action="{% url 'department_worldwide' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <strong style="font-size: 19px; color: white">{{ field.label_tag }}</strong>
                    <strong style="border-color: darkred; outline: none">{{ field }}</strong>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-danger"><strong>SUBMIT</strong></button>
        </form>
    </div>
{% endblock %}

