{% extends 'index.html' %}
{% load static %}

{% block content %}
    <link href="/static/css/font.css" rel="stylesheet">
    <link href="/static/css/card.css" rel="stylesheet">
    <link href="/static/css/search_input.css" rel="stylesheet">
    <link href="/static/css/search_button.css" rel="stylesheet">
    <link href="/static/css/select.css" rel="stylesheet">
    <link href="/static/css/item_added_button.css" rel="stylesheet">
    <link href="/static/css/product_category.css" rel="stylesheet">

    <div class="d-flex flex-column flex-shrink-0 p-3"
         style="width: 190px; position: absolute;">
        <ul id="navigator" class="nav nav-pills flex-column mb-auto">
            <li>
                <a style="font-weight: bold;" href="{% url 'store:store' %}"
                   class="nav-link link-body-emphasis">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    <strong style="font-size: 28px; color: white">All</strong>
                </a>
            </li>
            {% for all_categories in all_category %}
                <li>
                    <a style="font-weight: bold" href="{% url 'store:category' all_categories.id %}"
                       class="nav-link link-body-emphasis">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <use xlink:href="#speedometer2"></use>
                        </svg>
                        <strong style="font-size: 28px; color: white">{{ all_categories.title }}</strong>
                    </a>
                </li>
            {% endfor %}
            {#            <li>#}
            {#                <a style="font-weight: bold" href="{% url 'store:archive' %}" class="nav-link link-body-emphasis">#}
            {#                    <svg class="bi pe-none me-2" width="16" height="16">#}
            {#                        <use xlink:href="#speedometer2"></use>#}
            {#                    </svg>#}
            {#                    <strong style="font-size: 28px; color: black">Archive</strong>#}
            {#                </a>#}
            {#            </li>#}
        </ul>
    </div>
    <div class="album py-5">
        <div class="container" style="margin-top: 80px">
            <div style="text-align: center; margin-bottom: 40px">
                <section class="py-5 text-center container"
                         style="margin-top: 20px; background-size: cover;">
                    <div class="row py-lg-5">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <strong style="font-size: 65px; color: white">{{ categories.title }}</strong>
                        </div>
                    </div>
                </section>
                <form method="GET" action="{% url 'store:category' categories.id %}">
                    <div style="text-align: left">
                        <button style="margin-top: 44px; margin-left: 200px; position: absolute; background-color: transparent !important;">
                            <strong
                                    style="font-size: 20px; color: white">APPLY</strong>
                        </button>
                    </div>
                    <div style="position: absolute; margin-top: 75px">
                        <label for="sort_by"><strong style="font-size: 19px; color: white">Sort by Price : </strong></label>
                        <strong>
                            <select style="border: none; outline: none; color: white" name="sort_by" id="sort_by">
                                <option value="">DEFAULT</option>
                                <option value="-price" {% if sort_by == '-price' %} selected{% endif %}>High to low
                                </option>
                                <option value="price" {% if sort_by == 'price' %} selected{% endif %}>Low to high
                                </option>
                            </select>
                        </strong>
                    </div>
                    <div class="form__group field">
                        <input style="color: white; border: none; border-bottom: 2px solid white;" value="{{ search_text }}"
                               name="search_text" type="input" class="form__field"
                               placeholder="Product Title">
                        <label for="name" class="form__label"><strong style="font-size: 19px; color: white">Search
                            {{ categories.title }}</strong></label>
                    </div>
                </form>
            </div>
            {% if not products %}
                <div style="text-align: center; position: center; margin-top: 100px">
                    <strong style="font-size: 30px; color: darkred">There are no products in this category yet or the
                        Search
                        {{ categories.title }} is invalid</strong>
                </div>
                <section class="py-5 text-center container"
                         style="margin-top: 50px; background-size: cover;">
                    <div class="row py-lg-5">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <a href="{% url 'store:store' %}" class="cta" style="text-decoration: none">
                        <span class="hover-underline-animation add-button"
                              style="text-decoration: none; color: white"><strong
                                style="text-decoration: none; color: white; font-size: 50px">SHOP NOW </strong></span>
                            </a>
                        </div>
                    </div>
                </section>
            {% endif %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for product in products %}
                    <div class="col">
                        <div class="card"
                             style="height: 570px; max-height: 570px; border: none; box-shadow: none; margin-top: 30px; background-color: transparent">
                            {% if product.photo1 and product.photo2 %}
                                <a href="{% url 'store:product' product.id %}">
                                    <img class="img1" onmouseout="main_change_image({{ product.id }}, '{{ product.photo1 }}')"
                                         onmouseover="main_change_image({{ product.id }}, '{{ product.photo2 }}')"
                                         id="{{ product.id }}"
                                         src="{{ product.photo1.url }}"
                                         alt="..." width="100%">
                                </a>
                                <img style="max-height: 1px; visibility: hidden" id="{{ product.photo1 }}"
                                     width="30px"
                                     src="{{ product.photo1.url }}">
                                <img style="max-height: 1px; visibility: hidden" id="{{ product.photo2 }}"
                                     width="30px"
                                     src="{{ product.photo2.url }}">
                            {% elif product.photo1 %}
                                <a href="{% url 'store:product' product.id %}">
                                    <img class="img2" src="{{ product.photo1.url }}" alt="..." width="100%">
                                </a>
                            {% else %}
                                <style>
                                    .bd-placeholder-img {
                                        font-size: 2rem;
                                        text-anchor: middle;
                                        -webkit-user-select: none;
                                        -moz-user-select: none;
                                        user-select: none;
                                    }
                                </style>
                                <svg class="bd-placeholder-img card-img-top" height="420" width="100%"
                                     xmlns="http://www.w3.org/2000/svg" role="img"
                                     preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="#55595c"/>
                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Undefined</text>
                                </svg>
                            {% endif %}
                            <div class="card-body" style="text-align: center">
                                <p class="card-text"><strong style="font-size: 23px; color: darkred">{{ product.title }}</strong></p>
                                <small class="text-body-secondary"><strong style="font-size: 19px; color: darkred">{{ product.price }}
                                    $</strong></small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="/static/javascript/main_changeimage.js"></script>
{% endblock %}