{% extends 'index.html' %}
{% load static %}

{% block content %}
    <link href="/static/css/font.css" rel="stylesheet">
    <link href="/static/css/zoom_product.css" rel="stylesheet">
    <link href="/static/css/product_card.css" rel="stylesheet">
    <link href="/static/css/item_added_button.css" rel="stylesheet">
    <link href="/static/css/button_back.css" rel="stylesheet">
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 190px; position: fixed; margin-top: 100px" xmlns="">
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a style="font-weight: bold" href="{% url 'store:store' %}" class="nav-link link-body-emphasis">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    <strong style="font-size: 28px">All</strong>
                </a>
            </li>
            {% for category in categories %}
                <li>
                    <a style="font-weight: bold" href="{% url 'store:category' category.id %}"
                       class="nav-link link-body-emphasis">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <use xlink:href="#speedometer2"></use>
                        </svg>
                        <strong style="font-size: 28px">{{ category.title }}</strong>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="" style="position: absolute; margin-top: 200px; margin-left: 170px; width: 250px">
        <h5 style="text-align: left; margin-top: 20px"><strong
                style="font-size: 23px">{{ products.characteristic }}</strong></h5>
        <h5 style="text-align: left; margin-top: 20px"><strong
                style="font-size: 23px">Size: {{ products.size }}</strong></h5>
        {% if products.width %}
            <h6 style="text-align: left;  margin-top: 20px">
                <strong style="font-size: 19px">Width: {{ products.width }}</strong></h6>
        {% endif %}
        {% if products.height %}
            <h6 style="text-align: left;  margin-top: 10px">
                <strong style="font-size: 19px">Height: {{ products.height }}</strong>
            </h6>
        {% endif %}
        {% if products.depth %}
            <h6 style="text-align: left;  margin-top: 10px">
                <strong style="font-size: 19px">Depth: {{ products.depth }}</strong>
            </h6>
        {% endif %}
        <h5 style="text-align: left; margin-top: 30px;  color: darkred; font-weight: bold">
            <strong style="font-size: 23px">Price:
                {{ products.price }}
                $</strong>
        </h5>
        <div style="margin-top: 40px;">
            <strong style="color: darkred; font-size: 18px">Доставка Новою поштою</strong>
            <img style="margin-left: 8px"
                 height="30px"
                 width="30px"
                 src="/static/img/posta.png"
                 alt="">
        </div>
        {% if messages %}
            <ul class="messages" style="margin-top: 90px; text-align: center">
                {% for message in messages %}
                    <a href="{% url 'store:cart' %}" class="{{ message.tags }}"
                       style="text-align: center; text-decoration: none">
                        <button style="margin-right: 27px" class="add-button">
                            <strong>{{ message|safe|upper }}</strong>
                        </button>
                    </a>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div style="position: absolute; text-align: left; margin-top: 22px; margin-left: 22px">
        <a style="text-decoration: none; color: black" href="{% url 'store:category' products.category.id %}">
        <button class="back-button">
            <svg style="color:darkred;" height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024">
                <path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path>
            </svg>
            <span><strong style="color: darkred; font-size: 21px">{{ product_category.title }}</strong></span>
        </button>
        </a>
    </div>
    <div class="center">
        <h1 style="text-align: center; margin-top: 90px"><strong>{{ products.title }}</strong></h1>
        {% if products.photo1 %}
            <div class="d-flex flex-column flex-shrink-0 p-3"
                 style="width: 190px; position: absolute; margin-top: 40px; margin-left: 870px">
                <a>
                    <img onclick="change_image('first_image');" id="first_image" width="85px" height="85px"
                         src="{{ products.photo1.url }}" alt="...">
                </a>
                {% if products.photo2 %}
                    <a style="margin-top: 30px">
                        <img onclick="change_image('second_image');" id="second_image" width="85px" height="85px"
                             src="{{ products.photo2.url }}" alt="...">
                    </a>
                {% endif %}
                {% if products.photo3 %}
                    <a style="margin-top: 30px">
                        <img onclick="change_image('third_image');" id="third_image" width="85px" height="85px"
                             src="{{ products.photo3.url }}" alt="...">
                    </a>
                {% endif %}
                {% if products.photo4 %}
                    <a style="margin-top: 30px">
                        <img onclick="change_image('fourth_image');" id="fourth_image" width="85px" height="85px"
                             src="{{ products.photo4.url }}" alt="...">
                    </a>
                {% endif %}
                {% if products.photo5 %}
                    <a style="margin-top: 30px">
                        <img onclick="change_image('fifth_image');" id="fifth_image" width="85px" height="85px"
                             src="{{ products.photo5.url }}" alt="...">
                    </a>
                {% endif %}
                {% if products.photo6 %}
                    <a style="margin-top: 30px">
                        <img onclick="change_image('sixth_image');" id="sixth_image" width="85px"
                             height="85px"
                             src="{{ products.photo6.url }}" alt="...">
                    </a>
                {% endif %}
            </div>
        {% endif %}
        <img class="image" id="main_image" style="margin-left: 107px; margin-top: 80px"
             src="{{ products.photo1.url }}" alt="..."
             width="630px" height="630px">
        <br>
    </div>
    <div style="text-align: center; position: center">
        <a href="{% url 'store:add_to_cart' products.id %}">
            <button class="add-button"
                    style="width: 200px; margin-top: 50px;"><strong style="font-size: 23px">ADD TO CART</strong>
            </button>
        </a>
    </div>
    {% if product_like.count > 1 %}
        <div style="margin-top: 100px; text-align: center;">
            <strong style="font-size: 40px">YOU MAY ALSO LIKE</strong><br>
        </div>
        <div class="album" style="margin-bottom: 75px">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for products_like in product_like %}
                        <div class="col">
                            <div class="card" style="border: none; box-shadow: none; width: 220px; ">
                                <a href="{% url 'store:product' products_like.id %}"
                                   style="text-decoration: none;">
                                    <img style="margin-top: 50px" src="{{ products_like.photo1.url }}" alt="..."
                                         width="220px"
                                         height="220px">
                                </a>
                                <div class="card-body" style="text-align: center; ">
                                    <strong style="">{{ products_like.title }}</strong><br>
                                    <small class="text-body-secondary"><strong>{{ products_like.price }}
                                        $</strong></small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <script src="
        /static/javascript/changeimage.js"></script>
    <script src="/static/javascript/main_changeimage.js"></script>
    <script src="/static/javascript/fullscreen.js"></script>
{% endblock %}